﻿<section class="application">
    <calculator [withholdingCalculatorData]="myWithholdingCalculatorData" ></calculator>
    <results [withholdingCalculatorData]="myWithholdingCalculatorData"></results>
</section>
