﻿<section class="calculator-form-content">
    <h1>W4 Federal Withholding Calculator</h1>
    <p>
        <label>Gross Income</label>
        <input type="number" step="0.01" [(ngModel)]="withholdingCalculatorData.grossIncome" (keyup)="calculate()"/>
    </p>
    <p>
        <label>Witholding Status</label>
        <select name="filing-status" [ngModel]="withholdingCalculatorData.taxFilingStatus" (ngModelChange)="changeFilingStatus($event);calculate()">
            <option *ngFor="let filingStatus of filingStatuses" [value]="filingStatus">{{filingStatus}}</option>
        </select>
    </p>
    <p>
        <label>Pay Frequency</label>
        <select name="pay-frequency" [ngModel]="withholdingCalculatorData.payFrequency" (ngModelChange)="changePayFrequency($event);calculate()">
            <option *ngFor="let frequency of payFrequencies" [value]="frequency">{{frequency}}</option>
        </select>
    </p>
    <p>
        <label>Number of Allowances from W4</label>
        <input type="number" [(ngModel)]="withholdingCalculatorData.numberOfAllowances" (keyup)="calculate()"/>
    </p>
</section>
