﻿<section class="results-content">
    <p>
        <span>Filing Status: {{withholdingCalculatorData.taxFilingStatus}}</span>
    </p>
    <p>
        <span>Pay Frequency: {{withholdingCalculatorData.payFrequency}}</span>
    </p>
    <p>
        <span>Number of Allowances: {{withholdingCalculatorData.numberOfAllowances}}</span>
    </p>
    <p>
        <span>Taxes Withheld: {{withholdingCalculatorData.taxesWithheld}}</span>
    </p>
    <p>
        <span>Net Income: {{withholdingCalculatorData.grossIncome - withholdingCalculatorData.taxesWithheld}}</span>
    </p>
</section>